#harvest-tasks {
  border: 1px solid gray;
  border-bottom: none;
  background-color: white;
}
#harvest-tasks div {
}
#harvest-tasks a {
  display: block;
  float: none;
  border-bottom: 1px solid gray;
  padding: 5px;
  text-decoration: none;
}
#start-button {
  background-repeat: no-repeat;
  background-position: 4px 3px;
  padding-left: 23px;
}